/* Basic grid set up to just begin getting the feel
for where things will sit and how the user experience
will be */

/* body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
} */


/* GRID SETUP */
/* .parent {

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  } */
  
/* MAIN HEADER */
/* .navbar { 
 
  grid-area: 1 / 1 / 2 / 13;
  border: 1px solid black;
  padding: 5px;
  background-color: cornflowerblue;
}

.navbar-item {
  display: inline;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  border: 1px;
}


#sidebar { 
  grid-area: 2 / 1 / 9 / 3; 
  border: 1px solid black; 
  padding: 20px; 
}

.content { 
  grid-area: 2 / 3 / 9 / 13;
  border: 1px solid black; 
  padding: 30px; 
}
 */

 {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}





/*  Keep these styles. They just need to be adjusted */
#modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#choose-city-form {
  background-color: rgb(9, 155, 240);
  margin-top: 20vh;
  width: 600px;
  margin: 20vh auto 0;
}