/* Basic grid set up to just begin getting the feel
for where things will sit and how the user experience
will be */

/* GRID SETUP */
/* .parent {

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  } */
  
/* MAIN HEADER */
/* .navbar { 
 
  grid-area: 1 / 1 / 2 / 13;
  border: 1px solid black;
  padding: 5px;
  background-color: cornflowerblue;
}

.navbar-item {
  display: inline;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  border: 1px;
}


#sidebar { 
  grid-area: 2 / 1 / 9 / 3; 
  border: 1px solid black; 
  padding: 20px; 
}

.content { 
  grid-area: 2 / 3 / 9 / 13;
  border: 1px solid black; 
  padding: 30px; 
}
 */
