/* Basic grid set up to just begin getting the feel
for where things will sit and how the user experience
will be */
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar main";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  row-gap: 10px;
  column-gap: 15px;
  font: 16px Arial;
  box-sizing: border-box;
}

/**** HEADER ****/

header {
  padding-top: 5px;
  grid-area: nav;
  /* box-shadow: 5px 10px dodgerblue;
  border-top: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue */
  /* border: 2px solid red; */
}

header h3 {
  float: left;
  letter-spacing: 2px;
  color: dodgerblue;
  padding-left: 20px;
}

header ul {
  list-style-type: none;
  overflow: hidden;
}

header li {
  display: inline;
  list-style: none;
  float: right;
}

header a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: black;
  letter-spacing: 2px;
  color: dodgerblue;
}

/**** SIDEBAR ****/

nav {
  grid-area: sidebar;
  /* box-shadow: 5px 10px dodgerblue;
  border-top: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue; */
}

aside {
  position: fixed;
  width: 25%;
  height: 100vh;
}

#sidebar {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 30%;
  transform: translateY(-50%);
  font-weight: bold;
  display: block;
  transition: all ease-out 300ms;
}

#sidebar div {
  position: relative;
  margin: 3.2em 0;
}

#sidebar h3 {
  line-height: 5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#sidebar h3:hover {
  color: dodgerblue;
}

/**** MAIN CONTENT ****/

/**** SEARCH FORM ****/
#search-cities {
  float: right;
}

#city-input {
  padding: 8px 15px;
  background: rgba(97, 97, 97, 0.2);
  border: 0px solid #dbdbdb;
}

#submit-btn {
  position: relative;
  padding: 6px 15px;
  left: -8px;
  border: 2px solid dodgerblue;
  background-color: dodgerblue;
  color: #fafafa;
}

/**** LOGIN/SIGNUP FORM ****/
.login-form-container {
  margin: 30% 30% 0% 0%;
  padding-bottom: 8%;
  border: 5px solid dodgerblue;
  border-radius: 15px;
  box-shadow: 5px 10px dodgerblue;
}

#login-form {
  padding-top: 30px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

#login-form input {
  padding: 15px 80px;
  background: rgba(174, 213, 252, 0.488);
  border: 0px solid #dbdbdb;
}

#login-form label {
  text-transform: uppercase;
  color: dodgerblue;
  letter-spacing: 2px;
}

#login-form button {
  position: relative;
  padding: 10px 125px;
  border: 2px solid dodgerblue;
  background-color: dodgerblue;
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/**** WEATHER INFO ****/

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 2px solid blue; */
  /* border: 1px solid green; */
  /* background-color: dodgerblue; */
}

.flex-container {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black; */
}

.box {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px white;
  border-radius: 15px;
  /* box-shadow: 5px 10px dodgerblue; */
}

#weather-container {
  padding-top: 50px;
  font-size: 18px;
}

#current-city {
  padding: 20px;
  text-align: center;
}

#temperature h1 {
  padding-left: 15px;
}

table {
  width: 100%;
}

td {
  padding: 15px;
  vertical-align: bottom;
  /* border-bottom: 1px solid black; */
}

th, td {
  border-bottom: 1px solid rgb(172, 172, 172);
}

#city-name td {
  border-bottom: 1px solid white;
}

#clouds h3 {
  padding-left: 15px;
}
/* GRID SETUP */
/* .parent {

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  } */
  
/* MAIN HEADER */
/* .navbar { 
 
  grid-area: 1 / 1 / 2 / 13;
  border: 1px solid black;
  padding: 5px;
  background-color: cornflowerblue;
}

.navbar-item {
  display: inline;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  border: 1px;
}


#sidebar { 
  grid-area: 2 / 1 / 9 / 3; 
  border: 1px solid black; 
  padding: 20px; 
}

.content { 
  grid-area: 2 / 3 / 9 / 13;
  border: 1px solid black; 
  padding: 30px; 
}
 */

 /* {
  box-sizing: border-box;
} */

/* body {
  font: 16px Arial;  
}

the container must be positioned relative:
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
} */

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}





/*  Keep these styles. They just need to be adjusted */
#modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#choose-city-form {
  background-color: rgb(9, 155, 240);
  margin-top: 20vh;
  width: 600px;
  margin: 20vh auto 0;
}